<div class="holder round">
<h3>First, add some information about the group you'll be teaching.</h3>

<%= form_for @student_group do |f| %>

  <div class="holder2 round">
    The name of this group is 
    <span class="field form_field"><%= f.text_field :name %></span>
    and it is a/an 
    <!-- FIX THIS -->
    <span class="field dropdown"><%= f.select :type_of_group, [["select a group type", ""], "Young learners class (0-6)", "Primary class (7-12)", "Secondary class (13-17)", "Adult class (18+)", "Children's sport team", "Adult's sport team"]  %></span> 	  
  </div>

  <h3>
		Next, add the students in this group:
	</h3>

  <div class="holder2 round">
    <%= render "student_fields", :f => f %>
  </div>

</div>
<p>
	<%= f.submit "Submit", :class => 'big_button round unselectable'%>
</p>

<% end %>