<div class="group_window center round"> 
  <h2>
    <%= link_to group.name, class_path(group) %>
  </h2> 
  <p>
  	<%= group.type_of_group %>
  </p>
  <p>
    <%= render 'student_count', :group => group %>
  </p>
  <!-- EDIT AND DELETE BUTTONS -->
  <div class="edit">
  	<%= link_to "edit", edit_student_group_path(group), 
                        class: "lil_link" %> 
  </div>
  <div class="delete">
	  <%= link_to "X", {controller: 'student_groups', 
                           action: 'destroy',
                           id: group },
                           {confirm: "Do you really want to delete #{group.name}?",
                           method: :delete, 
                           class: "lil_link"} %>
  </div>
</div>