<!-- Group Name -->
<div class="holderv round float_left">
	<h1>
    <%= group.name %>
  </h1>
	<%= content_tag("a", "∆", class: "toggle_group_name") %>

	<!-- EDIT AND DELETE BUTTONS -->
	<%= render 'groups_edit_delete', :group => group %>
</div>

<div class="holder round clear group_name"> 
  
  <!-- Subjects -->
  
 	<div class="clear">
  	<div class="holder2 round">
  		<h2>
		  	<%= render 'subject_count', :group => group %>
		  </h2>
		  <div class="indent-left">
		    <%= render 'subject_list', :group => group %>
		  </div>
		  <div class="new_x">
		  	<%= link_to "add subject", new_student_group_subject_path(group) %>
		  </div>
  	</div>
  </div>

  <!-- Students -->

  <div>
  	<div class="holder2 round">
  		<h2>
		    <%= render 'student_count', :group => group %>
		  </h2>
			<div class="indent-left">
				<% if group.students.empty? %>   
				  <%= render 'no_student_list', :group => group %>
				<% else %>
				  <%= render 'student_list', :group => group %>
			  <% end %>
		  </div>
      <div class="new_x">
		  	<%= link_to "add student", new_student_group_student_path(group) %>
		  </div>		
  	</div>
  </div>
  <br />
	
	<!-- Evaluate Link -->

  <h1 class="evaluate">
	  <% if group.has_goals? %>
  	  <%= link_to "Evaluate!", eval_note_path(group) %>
    <% else %>
      <%= link_to "Evaluate!", eval_fail_path(group) %>
    <% end %>
  </h1>

</div>
