<div class="holder round float_left unselectable"> 
  <p>
    <%= link_to group.name, class_path(group) %>
  </p> 
  <p>
  	<%= group.type_of_group %> with <%= render 'student_count', :group => group %>
  </p>

  <p>
	  Subjects:
	  <table>
	    <%= render 'subject_list', :group => group %>
    </table>
  </p>

  <!-- EDIT AND DELETE BUTTONS -->
  <div class="edit">
  	<%= link_to "edit", edit_student_group_path(group), 
                        class: "lil_link" %> 
  </div>
  <div class="delete">
	  <%= link_to "X", {controller: 'student_groups', 
                      action: 'destroy',
                      id: group },
                     {confirm: "Do you really want to delete #{group.name}?",
                      method: :delete, 
                      class: "lil_link"} %>
  </div>
</div>