<table class="fixed">
  <tbody>      
   	<% group.students.each_with_index do |student, index| %>
    <tr>
		  <th></th>
		  <% if index == 0 %>
        <%= render("student_eval_count_header", 
                    :student => student) unless student.eval_count == 0 %>
	      <th class="center"><%= "Status" if student.eval_count > 0  %></th>
	    <% end %>
	  	
	  </tr>
    <tr class="<%= cycle("odd", "even", name: "students")%>">
    	<td>
        <%= link_to student.name, 
									 student_path({student_group_id: student.student_group_id, 
																 id: student.id})%>
	    </td>
      <%= render("student_average", 
								 :student => student, 
								 :group => group) unless student.eval_count == 0 %>
 	    <td class="center">
        <%= render("student_status", :student => student) unless student.avg.nan? %>
      </td>
    </tr>
	  <% end %>
	  <% reset_cycle("students") %>
  </tbody>
</table>



