<table>
  <tbody>      
   	<tr>
		  <th></th>
		  <% group.eval_count.times do |i|  %>                                                 
	      <th>Evaluation <%= i+1 %></th>
	    <% end %>
	  	<th><%= "Student average" if group.eval_count > 0  %></th>
	  </tr>
    <% for student in group.students %>
	    <tr class="<%= cycle("odd", "even", name: "students")%>">
	    	<td>
         <%= link_to "#{student.name}", 
										 student_path({student_group_id: student.student_group_id, 
																	 id: student.id})%>
		    </td>
        <% group.eval_count.times do |i| %>                                                 
	        <td><%= student.evals_avg(i) %></td> 
	      <% end %>
			  <td><%= student.avg if group.eval_count > 0 %></td>
	    </tr>
	  <% end %>
	  <% reset_cycle("students") %>
  </tbody>
</table>