<% if group.subjects.present? %>
	<table>
	  <tbody>
			<tr>
			  <th></th>
			  <th class="center">Subject average</th>
			  <th class="center">Classtime remaining</th>
			  <th class="center">Number of goals</th>
		  </tr>
			  <% group.subjects.all.each do |subject| %>
		  <tr class="<%= cycle("odd", "even", name: 'subjects')%>">
			  <td>
			    <%= link_to "#{subject.name}", subject_path({student_group_id: subject.student_group_id, id: subject.id}) %>
				  <%= link_to "edit", edit_student_group_subject_path(group, subject), :class => "lil_link" %>
				</td>
	      <% if subject.avg.nan? %>
				  <td class="strong">No data yet!</td>
				<% else %>
				  <td class="center"><%= subject.avg %></td>
				<% end %>
	      <%= render('subject_weeks_left', :subject => subject) %>
	      <td class="center"><%= subject.goals.count %></td>
	    </tr>
			  <% end %>
			  <% reset_cycle("subjects") %>
		</tbody>
	</table>
<% else %>
  <p>
	  <br />
  	<%= link_to "Add a subject", new_student_group_subject_path(group), class: "center big_button round unselectable" %>
  </p>
<% end %>
