<%= form_for([@student_group]) do |f| %>
	
  <div class="form_section round">
		<div class="form_field round">
			<%= f.label :name, "Change the nickname for this group" %>
			<%= f.text_field :name %><br />	
		</div>
		<div class="dropdown">
			<%= f.label :type_of_group, "Change the group type" %><br />
			<%= f.select :type_of_group, [["select a group type", ""], "young learners class (0-6)", "primary class (7-12)", "secondary class (13-17)", "adult class (18+)", "children's sport team", "adult's sport team"] %>
		</div>
		<%= f.submit "Submit", :class => 'big_button round unselectable' %>
  </div>

<% end %>