<% @subjects.each do |group, subjects| %>
  <% subjects.each do |subject| %>
    <h3><%= subject.name %></h3> 
        <table class="fixed">
				  <tbody>
					  <% if subject.goals.blank? %>
					    <h2>There are no goals for <%= subject.name %> yet!</h2>
					  <% else %>
					    <% subject.goals.each do |goal| %>
							  <tr class="<%= cycle("odd", "even", name: "goals")%>">
							    <td class="goal_row"><%= goal.goal %></td> 
							    <td>
									  <% [1, 2, 3, 4, 5].each do |score| %>
									    <%#= f.radio_button :score, score %>
									    <%= radio_button_tag "score_#{goal.id}", score%>
									    <%= score %>
									  <% end %>
								  </td>
							  </tr>  
							<% end %>
							<% reset_cycle("goals") %>
					  <% end %>
				  </tbody>
				</table>
				<br />
  <% end %>
<% end %>