<div class="holder round clear eval_body">
	<%= form_for([@student, @evaluation]) do |f|  %>
	  
	  <%= render "goal_eval", :f => f %>
	
    <%= render 'eval_h_fields' %>
	  
	  <%= render 'eval_submit', :f => f %>
	
    <%= render 'review_please' %>
	
	<% end %>
</div>
