<%= form_for(:session, :url => sessions_path) do |f| %>
	
  <div class="form_section round">
		<div class="form_field round">
			<%= f.label :email, "Enter your email address:" %>
			<%= f.email_field :email %><br />
		</div>
		<div class="form_field round">
			<%= f.label :password, "Enter your password:" %>	
			<%= f.password_field :password %><br />
		</div>	
		<div>
			<%= f.submit "Log In", :class => 'big_button round' %>
		</div>
	</div>
	
<% end %>

<br />
<p>
	New user? <%= link_to "Sign up now!", signup_path %>
</p>

<%= "user'#n'@x.com +password" if Rails.env.development?  %>