<h2>Log in</h2>

<%= form_for(:session, :url => sessions_path) do |f| %>
	<div id="email_field">
		<%= f.email_field :email, placeholder: "Email address" %><br />
	</div>
	<div id="password_field">	
		<%= f.password_field :password, placeholder: "Password" %><br />
	</div>	
	<div class="Login_button">
		<%= f.submit "Log in" %>
	</div>
	
<% end %>

<p class="center">
	New user? <%= link_to "Sign up now!", signup_path %>
</p>