<%= form_for(:session, :url => sessions_path) do |f| %>
	
  <div class="form_section round">
    <p>
    	Enter your email address:
    </p>
		<div class="form_field round">
			<%= f.email_field :email %><br />
		</div>
    <p>
    	Enter your password:
    </p>
		<div class="form_field round">
			<%= f.password_field :password %>
		</div>
		
		<br />
		
		<div>
			<%= f.submit "Log In", :class => 'big_button round' %>
		</div>
	</div>
	
<% end %>

<br />
<p>
	New user? <%= link_to "Sign up now!", signup_path %>
</p>

<%= "user'#n'@x.com +password" if Rails.env.development?  %>