<div class="holder_clear round unselectable">

  <span id="new_session_logo">
	  <%= image_tag("ganesh.png") %>
  </span>

  <div id="ganesh_sample">
  	<%= render 'ganesh_info' %>
  </div>
  
	<div id="new_session_fields" class="form_section">
    <div class="holderv round center">
		  <%= form_for(:session, :url => sessions_path) do |f| %>
		    <%= render 'fields', :f => f  %>

			<div>
			  <%= f.submit "Log In", :class => 'big_button round unselectable' %><br />
				New user? Sign up <%= link_to "here", signup_path %>
			</div>
    	<% end %>
		</div>
	</div>
