	<tbody>
		<tr>
			<th class="goal_row">Goal:</th>
			<th class="avg_row">Student average:</th>
			<th class="avg_row">Group average:</th>
	  </tr>
		<% subject.goals.each do |goal| %>	    
		<tr class="<%= cycle("odd", "even", name: "goals")%>">
      <td class="goal_row"><%= link_to goal.goal, goal_path(goal, {subject_id: goal.subject_id}) %></td>
			<%= render 'eval_avg', goal: goal %>
			<td><%= @average.round(2) %></td>
			<td><%= goal.avg %></td>
		</tr>
  </tbody>
<% end %>
<% reset_cycle("goals") %>