<tbody>
	
	<tr>
		<th>Goal</th>
		<% @student.sub_eval_count(subject).times do |i|  %>                                                 
      <th class="center"><%= subject.eval_date(i) %></th>
    <% end %>
		<th class="center">Status<br />(student)</th>
		<th class="center">Status<br />(group)</th>
  </tr>
	
	<% subject.goals.each do |goal| %>	    
	
	<tr class="<%= cycle("odd", "even", name: "goals")%>">
    <td class="goal_row">
      <%= link_to goal.goal, goal_path(goal, {subject_id: goal.subject_id}) %>
    </td>
    <%= render("show_student_eval_scores", :subject => subject, 
                                           :goal => goal ) unless @student.eval_count == 0 %>
		<td class="switch <%= status(goal.avg_for(@student)) %> center">
			  <span class="avg_words"><%= avg_to_words(goal.avg_for(@student)) %></span>
			  <span class="avg_num"><%= goal.avg_for(@student) %> / 3 </span>
		</td>
	  <td class="switch <%= status(goal.avg) %> center">
		  <span class="avg_words"><%= avg_to_words(goal.avg) %></span>
		  <span class="avg_num"><%= goal.avg %> / 3 </span>
	  </td>	
	</tr>
 </tbody>

   <% end %>
   <% reset_cycle("goals") %>