<table id="students_form_table">
  <!-- http://stackoverflow.com/a/11474194/2128691 -->
  <%= fields_for 'student_group[students_attributes][]', @student, index: nil do |f| %>
    <tr>
		  <td id="student_name" class="field form_field"><%= f.text_field :name, placeholder: "Student name" %></td>
	    <td id="student_gender" class="field dropdown"><%= f.select :gender, [["select a gender", ""],'Female', 'Male', 'Transgender'] %></td>
	  </tr>
  <% end %>
</table>

<div class="student_add_remove">
  <span class="span-1" id="add_student">
    <%= content_tag("a", "+") %>
  </span>

  <span id="remove_student">
	  <%= content_tag("a", "-") %>
	</span>
</div>

