<div class="form_field round">
 	  <%= f.label :name, "Your full name:" %>
    <%= f.text_field :name %>
</div>

<div class="form_field round">
	  <%= f.label :email, "Your email address:" %>
	  <%= f.email_field :email %>
</div>

<div class="form_field round">
    <%= f.label :password, "Your password:" %>
    <%= f.password_field :password %>
</div>

<div class="form_field round">
	  <%= f.label :password, "Confirm your password" %>
	  <%= f.password_field :password_confirmation %>			
</div>
