<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
  <div class="signup_box" "round">
	  <div>
  	  <%= f.text_field :name, placeholder: "Full name" %>
		</div>
		<div>
		 <%= f.email_field :email, placeholder: "Email address" %>
		</div>
		<div>
	  	<%= f.password_field :password, placeholder: "Password" %>
		</div>
		<div>
		  <%= f.password_field :password_confirmation, placeholder: "Type your password again" %>			
		</div>
		<%= f.submit "Get Started!" %>
	</div>
<% end %>	