<header>
	<section id="menu_box" class="unselectable">

		<%= form_for(:session, :url => sessions_path) do |f| %>
	    <div class="input email_input">
		    <%= f.email_field :email, placeholder: "Email address" %><br />
		  </div>

		  <div class="input password_input">
		    <%= f.password_field :password, placeholder: "Password" %><br />
	    </div>		

		  <div>
				<%= f.submit "Log in", :class => 'login_button round' %>
	    </div>
	  <% end %>

	</section>
</header>

<body>
	<div id="home_logo" class="unselectable">
	  <%= image_tag("ganesh.png") %>
	</div>

	<div id="landing_text" class="unselectable">
		<h2 unselectable="on">
		  This is Ganesh.		  
		</h2>
    <h4>
    	He can help you define and evaluate your teaching goals
    </h4>
	</div>

  <div id="buttons" class="unselectable">
  	<%= link_to "See some examples", '#', :class => "big_button round" %>

  	<%= link_to "Sign up now", signup_path, :class => "big_button round" %>
  </div>

</body>
