<table>  
	<tbody>
		<tr>
			<th></th>
			<% @subject.eval_count.times do |i|  %>                                                 
	      <th class="center">
	        <%= @subject.eval_date(i) %>
	     </th>
	    <% end %>
	    <th class="center"><%= "Goal average" if @subject.eval_count > 0  %></th>
		</tr>
		<% for goal in @subject.goals %>
	    <tr class="<%= cycle("odd", "even", name: "goals")%> goals">
	    	<td class="goal_row">
          <%= render "show_goal", :goal => goal %>
		    </td>
	      <% if goal.eval_count > 0 %>
	        <% goal.eval_count.times do |i| %>                                                 
		        <td class="<%= status(goal.eval_avg(i)) %> center">
		          <%= goal.eval_avg(i) %>
		        </td>
		      <% end %>
				  <td class="<%= status(goal.avg) %> center"><%= goal.avg %></td>
				<% else %>
				  <td></td>
				<% end %>
		  </tr>
		<% end %>
		<% reset_cycle("goals") %>
  </tbody>
</table>