<h2 class="left">
  Should <%= "#{@goal.goal.downcase}" %>
</h2>
<h2 class="float_right">
  <span class="switch <%= status(@goal.avg) %>">
    <span class="avg_words"><%= avg_to_words(@goal.avg) %></span>
    <span class="avg_num"><%= @goal.avg %> / 3 </span>
  </span>
</h2>

<hr />

<div class="holder2 round">
	<table>                                                                            
	  <tr>                                                                             
	    <th>Student Name</th>
	    <!-- create as many <th> as there are evaluations -->
	    <% @goal.eval_count.times do |i|  %>                                                 
	      <th class="center"><%= @subject.eval_date(i) %></th>
	    <% end %>    
	    <th class="center">Status</th>              
	  </tr>                                                                           

	  <% for eval in @goal.evals %>                    
	    <tr class="<%= cycle("odd", "even", name: "evals")%>">
		    <!-- eval returns { s_id [eval],[eval]} -->
	      <td>
	        <%= link_to eval[1].first.student.name, 
	                    student_path({student_group_id: @goal.subject.student_group_id, 
																		id: eval[1].first.student.id})%>
	      </td> 
        <%= render 'goal_score_for_evals', eval: eval %>
	      <td class="center <%= status(@goal.avg_for(eval[1].first.student)) %>">
				  <%= render 'goal_status', eval: eval %>
				</td>                                            
	    </tr>           
	   <% end %>	 
	<% reset_cycle("evals") %>                                                                    
	</table>
</div>


	