<div class="holderv round float_left">
	<h1><%= group.name %></h1>
  <%= content_tag("a", "∆", class: "toggle_group_name") %>
</div>

<div class="holder round clear group_name">
	  <% subjects.each do |subject|  %>
	  <div class="holder2 round">
		
  		<%= render 'goal_subject_header', :subject => subject %>
		
		  <table>  
				<tbody>
					<tr>
						<th></th>
						<% subject.student_group.eval_count.times do |i|  %>                                                 
				      <th>Evaluation <%= i+1 %></th>
				    <% end %>
				    <th><%= "Student average" if subject.student_group.eval_count > 0  %></th>
					</tr>
					<% for goal in subject.goals %>
				    <tr class="<%= cycle("odd", "even", name: "goals")%>">
				    	<td>
					      <%= link_to goal.goal, goal_path(goal, {subject_id: goal.subject_id}) %>
					    </td>
				      <% subject.student_group.eval_count.times do |i| %>                                                 
					      <td><%= goal.evals_by_number_avg(i) %></td>
					    <% end %>
							<td><%= goal.avg if subject.student_group.eval_count > 0 %></td>
					  </tr>
					<% end %>
					<% reset_cycle("students") %>
			  </tbody>
			</table>
		</div>
		<% end %>
	</div>
