<div class="holderv round float_left">
	<h1><%= group.name %></h1>
  <%= content_tag("a", "∆", class: "toggle_group_name") %>
</div>

<div class="holder round clear group_name">
	  <% subjects.each do |subject|  %>
	  <div class="holder2 round">
		
  		<%= render 'goal_subject_header', :subject => subject %>
		
		  <table class="fixed">  
				<tbody>
					<tr>
						<th></th>
						<% subject.goals.first.eval_count.times do |i|  %>                                                 
				      <th class="center">Evaluation <%= i+1 %></th>
				    <% end %>
				    <th class="center"><%= "Goal average" if subject.goals.first.eval_count > 0  %></th>
					</tr>
					<% for goal in subject.goals %>
				    <tr class="<%= cycle("odd", "even", name: "goals")%>">
				    	<td>
					      <%= link_to goal.goal, goal_path(goal, {subject_id: goal.subject_id}) %>
					    </td>
				      <% if goal.eval_count > 0 %>
				        <% goal.eval_count.times do |i| %>                                                 
					        <td class="<%= goal.eval_avg(i) > goal.avg ? "greater" : "lesser" %> center">
					          <%= goal.eval_avg(i) %>
					        </td>
					      <% end %>
							  <td class="center"><%= goal.avg %></td>
							<% else %>
							  <td>No data yet!</td>
							<% end %>
					  </tr>
					<% end %>
					<% reset_cycle("goals") %>
			  </tbody>
			</table>
		</div>
		<% end %>
</div>




