<!-- if "Group_by_SUBJECT" -->

<% @subjects.each do |group, subjects| %>
  <div class="holder round">
	  <h1><%= group.name %></h1>
	  <br />
	  <% subjects.each do |subject|  %>
	  <div class="holder2 round">
  		<h2 class="float_left"><%= subject.name %></h2>
	    <h4 class="float_right"><%= subject.weeks_left %> remaining</h4>
	    <hr />
		  <table class="fixed">  
				<tbody>
					<% subject.goals.all.each do |goal| %>
				  <tr class="<%= cycle("odd", "even")%>">
				    <td><%= link_to goal.goal, goal_path(goal, {subject_id: goal.subject_id}) %></td>
				    <!-- <td>first evaluation average</td> -->
				    <!-- <td>next evaluation average, etc</td> -->
				    <% if goal.avg.nan? %>
						  <td class="strong">No data yet!</td>
						<% else %>
						  <td class="avg_row"><%= goal.avg %></td>
						<% end %>
				  </tr>
	        <% end %>
			  </tbody>
			</table>
		</div>
		<% end %>
	</div>
<% end %>



