<div class="holder round unselectable">
	
	<h3>
		What goals do you have for <%= @subject.name %>?
	</h3>

  <div class="delete">
    <span id="show_help">
	    <%= content_tag("a", "hints for writing good goals") %>  
	  </span>
  </div>
  
  <div id="help" class="holder2 round">
    <%= render 'goals_help' %>
  </div>

  <div class="holder2 round">
		<%= form_for([@subject, @goal]) do |f| %>
  	  <%= render 'goal_fields'%>    
  </div>
      <%= f.submit "Submit", :class => 'big_button round unselectable' %>
    <% end %>
</div>

