<header class="unselectable">
	<h2 class="float_left">
    <%= logo %>
    <%#= @title %>
	</h2>
	
	<nav class="round">
		<ul>
			<% if logged_in? %>
			  <li><%= link_to "Groups", groups_path %></li>
			  <li><%= link_to "Goals", goals_path %></li>
			  <li class="right"><%= link_to "Settings", settings_path %></li>
			  <br />
			  <li class="right"><%= link_to "Log out", logout_path %></li>
			<% else %>
			  <li><%= link_to "Log In", login_path unless login_path %></li>
			<% end %>
		</ul>
	</nav>
</header>

