<header class="header unselectable <%= @title_hide %>">
	<div class="float_left header-title">
    <%= link_to Ganesh, root_path %> <%= @title %>
	</div>
	
	<% if params[:action] != "new" %>
	  <nav>
			<ul>
				<% if logged_in? %>
				  <li><%= link_to "Groups", groups_path %></li>
				  <li><%= link_to "Goals", goals_path %></li>
				  <li><%= link_to "Settings", settings_path %></li>
				  <li><%= link_to "Log out", logout_path %></li>
				<% else %>
				  <li><%= link_to "Log In", login_path unless login_or_signup? %></li>
				<% end %>
			</ul>
		</nav>
	<% end %>
</header>
<br />
