<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag "application" %>
</head>
<body>
  <div class="container">
		<%= render 'layouts/header' %>
	  <section class="<%= "login_section" if login_or_signup? %>">
      <% flash.each do |key, value| %>
			  <div class="flash <%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
    </section>
		<%= render 'layouts/footer' %>
  </div>
</body>
</html>