<!DOCTYPE html>
<html>
<head>
	<title><%= title %> | <%= @user.name %> </title>
  <%= csrf_meta_tags %>	
  <%= render 'layouts/dashboard' %>
  <%= render 'layouts/header' %>
  <%= javascript_include_tag :application %>
</head>
<body>
	<% flash.each do |key, value| %>
	  <div class="flash <%= key %>"><%= value %></div>
	<% end %>
	<section>
	  <%= yield %>
	</section>
</body>
<%= render 'layouts/footer' %>
</html>